simulation:
  timestep: 0.03
  end_time: 300.0
  graphical: true
  save_csv: true
  save_output: results/
  show_graphs: false
  save_graphs: true


robot:
  name: bluerov2

  mission:
    waypoints:
      - [1.000, 0.000, 0.054, 0.000, 0.000, -3.142]
      - [0.992, 0.128, 0.055, 0.000, 0.000, -3.013]
      - [0.967, 0.254, 0.057, 0.000, 0.000, -2.885]
      - [0.927, 0.375, 0.060, 0.000, 0.000, -2.757]
      - [0.871, 0.491, 0.064, 0.000, 0.000, -2.629]
      - [0.801, 0.598, 0.070, 0.000, 0.000, -2.500]
      - [0.718, 0.696, 0.075, 0.000, 0.000, -2.372]
      - [0.623, 0.782, 0.081, 0.000, 0.000, -2.244]
      - [0.518, 0.855, 0.087, 0.000, 0.000, -2.116]
      - [0.405, 0.914, 0.092, 0.000, 0.000, -1.988]
      - [0.285, 0.959, 0.096, 0.000, 0.000, -1.859]
      - [0.160, 0.987, 0.099, 0.000, 0.000, -1.731]
      - [0.032, 0.999, 0.100, 0.000, 0.000, -1.603]
      - [-0.096, 0.995, 0.100, 0.000, 0.000, -1.475]
      - [-0.223, 0.975, 0.098, 0.000, 0.000, -1.346]
      - [-0.345, 0.938, 0.094, 0.000, 0.000, -1.218]
      - [-0.463, 0.887, 0.089, 0.000, 0.000, -1.090]
      - [-0.572, 0.820, 0.084, 0.000, 0.000, -0.962]
      - [-0.672, 0.740, 0.078, 0.000, 0.000, -0.833]
      - [-0.761, 0.648, 0.072, 0.000, 0.000, -0.705]
      - [-0.838, 0.546, 0.067, 0.000, 0.000, -0.577]
      - [-0.901, 0.434, 0.062, 0.000, 0.000, -0.449]
      - [-0.949, 0.315, 0.058, 0.000, 0.000, -0.321]
      - [-0.982, 0.191, 0.056, 0.000, 0.000, -0.192]
      - [-0.998, 0.064, 0.054, 0.000, 0.000, -0.064]
      - [-0.998, -0.064, 0.054, 0.000, 0.000, 0.064]
      - [-0.982, -0.191, 0.056, 0.000, 0.000, 0.192]
      - [-0.949, -0.315, 0.058, 0.000, 0.000, 0.321]
      - [-0.901, -0.434, 0.062, 0.000, 0.000, 0.449]
      - [-0.838, -0.546, 0.067, 0.000, 0.000, 0.577]
      - [-0.761, -0.648, 0.072, 0.000, 0.000, 0.705]
      - [-0.672, -0.740, 0.078, 0.000, 0.000, 0.833]
      - [-0.572, -0.820, 0.084, 0.000, 0.000, 0.962]
      - [-0.463, -0.887, 0.089, 0.000, 0.000, 1.090]
      - [-0.345, -0.938, 0.094, 0.000, 0.000, 1.218]
      - [-0.223, -0.975, 0.098, 0.000, 0.000, 1.346]
      - [-0.096, -0.995, 0.100, 0.000, 0.000, 1.475]
      - [0.032, -0.999, 0.100, 0.000, 0.000, 1.603]
      - [0.160, -0.987, 0.099, 0.000, 0.000, 1.731]
      - [0.285, -0.959, 0.096, 0.000, 0.000, 1.859]
      - [0.405, -0.914, 0.092, 0.000, 0.000, 1.988]
      - [0.518, -0.855, 0.087, 0.000, 0.000, 2.116]
      - [0.623, -0.782, 0.081, 0.000, 0.000, 2.244]
      - [0.718, -0.696, 0.075, 0.000, 0.000, 2.372]
      - [0.801, -0.598, 0.070, 0.000, 0.000, 2.500]
      - [0.871, -0.491, 0.064, 0.000, 0.000, 2.629]
      - [0.927, -0.375, 0.060, 0.000, 0.000, 2.757]
      - [0.967, -0.254, 0.057, 0.000, 0.000, 2.885]
      - [0.992, -0.128, 0.055, 0.000, 0.000, 3.013]
      - [1.000, -0.000, 0.054, 0.000, 0.000, 3.142]

  initial_conditions:
    eta: [1.000, 0.000, 0.000, 0.000, 0.000, -3.142]
    nu: [0, 0, 0, 0, 0, 0]

  mass_properties:
    m: 11.5
    rg: [0.0, 0.0, 0.02]
    I0:
      - [0.16, 0.00, 0.00]
      - [0.00, 0.16, 0.00]
      - [0.00, 0.00, 0.16]
    Ma:
      - [5.5, 0, 0, 0, 0, 0]
      - [0, 12.7, 0, 0, 0, 0]
      - [0, 0, 14.57, 0, 0, 0]
      - [0, 0, 0, 0.12, 0, 0]
      - [0, 0, 0, 0, 0.12, 0]
      - [0, 0, 0, 0, 0, 0.12]

  damping:
    Dl:
      - [4.03, 0, 0, 0, 0, 0]
      - [0, 6.22, 0, 0, 0, 0]
      - [0, 0, 5.18, 0, 0, 0]
      - [0, 0, 0, 0.07, 0, 0]
      - [0, 0, 0, 0, 0.07, 0]
      - [0, 0, 0, 0, 0, 0.07]
    Dq:
      - [18.18, 0, 0, 0, 0, 0]
      - [0, 21.66, 0, 0, 0, 0]
      - [0, 0, 36.99, 0, 0, 0]
      - [0, 0, 0, 1.55, 0, 0]
      - [0, 0, 0, 0, 1.55, 0]
      - [0, 0, 0, 0, 0, 1.55]

  thruster:
    T:                          # Thruster allocation matrix (6x8)
      - [0.866, 0.866, -0.839, -0.839, 0.0, 0.0, 0.0, 0.0]
      - [-0.500, 0.500, -0.545, 0.545, 0.0, 0.0, 0.0, 0.0]
      - [0.0, 0.0, 0.0, 0.0, 1.0, 1.0, 1.0, 1.0]
      - [-0.033, 0.033, 0.0359, -0.0359, 0.122, 0.122, -0.122, -0.122]
      - [0.0654, 0.0654, 0.0653, 0.0653, 0.218, -0.218, 0.218, -0.218]
      - [-0.158, 0.158, 0.166, -0.166, 0.0, 0.0, 0.0, 0.0]

    n_thrusters: 8
    thruster_limits: [-35, 45]
    wn: 8
    zeta: 0.9

  controller:
    type: SMC

    eta_tol: [0.05, 0.05, 0.05, 0.05, 0.05, 0.05]
    nu_tol: [1, 1, 1, 1, 1, 1]
    
    smc_params:
      k_smc: [15.0, 15.0, 10.0, 5.0, 5.0, 10.0]
      lambda_smc: [1.0, 1.0, 2.5, 2.0, 2.0, 2.0]
      phi: [0.8, 0.8, 0.8, 0.8, 0.8, 0.8]


# Environment parameters
environment:
  # Open water parameters
  properties:
    gravity: [0.0, 0.0, -9.81]  # Gravity vector in m/s^2
    water_density: 1025.0        # Density of water in kg/m^3
    water_viscosity: 1.0e-3      # Viscosity of water in Pa.s

  current:
    type: normal  # Options: normal, jet, constant, time_series, depth_profile

    # Type: normal (randomized per axis)
    normal:
      speed: [0.1, -0.1, 0.0]
      std: [0.05, 0.02, 0.01]

    # Type: jet (fully fixed 6D vector)
    jet:
      vector: [0.2, 0.0, 0.0, 0, 0, 0]

    # Type: constant (3D only, angular assumed zero)
    constant:
      vector: [0.0, 0.0, 0.0]

    # Type: time_series (indexed array of 6D vectors)
    time_series:
      - [0.1, 0.0, 0.0, 0, 0, 0]
      - [0.15, 0.05, 0.0, 0, 0, 0]
      - [0.2, 0.0, 0.0, 0, 0, 0]

    # Type: depth_profile (velocity as a function of depth)
    depth_profile:
      - depth: 0
        vector: [0.3, 0.0, 0.0]
      - depth: 10
        vector: [0.1, 0.0, 0.0]
      - depth: 20
        vector: [0.0, 0.0, 0.0]
